@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Merriweather+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Trispace:wght@100;200;300;400;500;600;700;800&display=swap');

html {
    font-size: 16px;
}

:root {
    --doc-height: 100%;
   }
   
   html,
   body {
    padding: 0;
    margin: 0;
    height: 100vh; /* fallback for Js load */
    height: var(--doc-height);
   }

body {
    display: flex;
    flex-direction: column;
    background-image: url(images/cosmos.png);
    background-size: contain;
    font-family: 'Trispace';
}

/* Stop user being able to select text on button clicks */
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

img {
    object-fit: contain;
}
  
/* heading styles */
h1, h2 {
    background: linear-gradient(to right, transparent , aliceblue 10% 90% , transparent);
}

h1 {
    font-size: 400%;
    padding: 3px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 15px;
}

h2 {
    font-size: 300%;
    margin-left: 10%;
    margin-right: 10%;
}

.heading {
    align-items: center;
}

/* text styles */
.text-center {
    text-align: center;
}

/* card and box styles */
.card-piles,
.action-box-container {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-around;
}

#score {
    display: flex;
    justify-content: center;
}

.card-box {
    height: 250px;
    width: 400px;
}

.box {
    display: flex;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: lightgray 3px 5px 3px;  
    justify-content: center;
}

.box img {
    overflow: auto;
}

#title-box {
    font-size: 240%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    width: 350px;
}


.action-box {
    position: relative;
    display: flex;
    padding: 4px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: orange 1px 2.5px 1.5px;  
    font-size: 150%;
    justify-content: center;
    cursor: pointer;
}

.action-box img {
    height: 100px;
    display: block;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 150%;
}

.clicked {
    transform: scale(0.95);
}

/* hide these buttons for practice page */
#play-button,
#true-button,
#false-button {
    display: none;
    width: 10rem;
    height: 5rem;
}

#play-button {
    background-color: #E6BE4C;
}

#restartGameBox,
#needMorePracticeBox {
    display: none;
}

/* show for practice page */
#listen-button {
    display: block;
}

#scoreBox {
    margin-top: 0.5rem;
    padding-left: .5em;
    padding-right: .5em;
    font-size: 1.5em;
}

#scoreBox p {
    margin: 0;
    
}

#gameBoxContainer {
    display: flex;
    justify-content: center;
}

#start-game,
#restartGameBox,
#needMorePracticeBox {
    margin-top: 20px;
    font-size: 120%;
}
#start-game p {
    padding-left: 4px;
    padding-right: 4px;
    margin: 0;
}

#start-game:hover {
    background-image: linear-gradient(yellow, orange, #F04D37);
}
/* footer styles */

footer {
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    height: 3rem;
    width: 100%;
    margin-top: 8px;
}

#myBtn {
    text-decoration: underline;
    cursor: pointer;
}

#myBtn:hover {
    background-color: orange;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Header */
  .modal-header {
    color: black;
    text-align: center;
  }

  .modal-header p {
    font-size:18px
  }

  .modal-content h2 {
    font-size: 200%;
    margin: 0;
    width: 100%;
    background: none;
    background-color:#F04D37;
  }

  .modal-content h3 {
    background-color:#F04D37;
    padding: 4px 16px;
  }

  .modal-content p {
    padding: 0 16px
  }
  
  /* Modal Body */
  .modal-body {padding: 2px 16px;}
  
  /* Modal Footer */
  .modal-footer {
    padding: 2px 16px;
    background-color:#F04D37;
    color: white;
    text-align: center;
  }
  
  /* Modal Content/Box */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }


  /* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* 404 styles */
  .error-page {
    background-color: aliceblue;
    margin-top: 40px;
  }

  /* Media Queries */

  @media screen and (max-width: 1200px) {
    h1 {
        font-size: 300%;
    }

    h2 {
        font-size: 160%
    }

    #title-box {
        height: 175px;
        width: 262.5px;
        font-size: 150%;
    }
    .card-box {
        width: 300px;
        height: 187.5px;
    }

    #scoreBox {
        font-size: 1.5em;
    }

    .action-box-container {
        margin-bottom: 4px;
    }

    .action-box {
        font-size: 90%;
        margin-top: 0;
    }

    .action-box img {
        height: 80px;
    }
  }

  @media screen and (max-width: 992px) {
    .heading-container {
        width: 100vw;
    }
    
    h1 {
        font-size: 200%;
        padding: 3px;
        margin: 0;
        margin-top: 4px
    }
    
    h2 {
        font-size: 130%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .box {
        box-shadow: lightgray 1px 2.5px 1.5px;  
    }

    .card-box,
    #title-box {
        width: 275px;
        height: 120px;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 0;
        box-shadow: none;
    }

    #shape-box,
    #title-box {
        margin-bottom: 4px;
    }

    .card-piles {
        flex-direction: column;
        align-items: center;
        padding: 0.3em;
    }

    .card-piles,
    .action-box-container {
        margin-bottom: 4px;
    }

    .action-box-container {
        /* margin-left: 50px;
        margin-right: 50px; */
    }

    .action-box {
        font-size: 80%;
        margin-top: 0;
    }

    .action-box img {
        height: 60px;
    }

    #start-game {
        margin-top: 10px;
        font-size: 90%;
    }

    #scoreBox {
        margin-top: 8px;
        font-size: 1em;
    }

    #copyright p {
        font-size: 70%;
    }

    #myBtn {
        font-size: 70%;
    }

    footer {
        height: 2rem;
    }
  }

  @media screen and (max-width: 600px) {
    .heading-container {
        width: 100vw;
    }
    
    h1 {
        font-size: 180%;
        padding: 0.3rem;
        margin: 0;
        margin-bottom: 4px;
    }
    
    h2 {
        display: none;
    }

    .modal-header h2 {
        display: block;
    }

    .card-box,
    #title-box {
        max-width: 275px;
        margin-left: 20px;
        margin-right: 20px;
    }

    
   
  }

  @media screen and (max-width: 375px) {
    
    .action-box img {
        height: 45px;
    }

    .overlay-text {
        font-size: 120%
    }

    #trueFalseText {
        font-size: 16px;
    }
  }