@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Merriweather+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Trispace:wght@100;200;300;400;500;600;700;800&display=swap');

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(images/cosmos.png);
    background-size: contain;
    font-family: 'Trispace';
}

/* Stop user being able to select text on button clicks */
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
  
/* heading styles */
h1, h2 {
    background: linear-gradient(to right, transparent , aliceblue 10% 90% , transparent);
}

h1 {
    font-size: 400%;
    padding: 3px;
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    font-size: 300%;
    margin-left: 10%;
    margin-right: 10%;
}

.heading {
    align-items: center;
}

/* text styles */
.text-center {
    text-align: center;
}

/* card and box styles */
.card-piles,
.action-box-container {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-around;
}

#score {
    display: flex;
    justify-content: center;
}

.card-box {
    height: 250px;
    width: 400px;
}

.box {
    display: flex;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: lightgray 3px 5px 3px;  
    justify-content: center;
}

#title-box {
    font-size: 300%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    width: 350px;
}


.action-box {
    position: relative;
    display: flex;
    padding: 4px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: orange 3px 5px 3px;  
    font-size: 150%;
    justify-content: center;
    cursor: pointer;
}

.action-box img {
    height: 100px;
    display: block;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 150%;
}

.clicked {
    transform: scale(0.95);
}

/* hide these buttons for practice page */
#play-button,
#true-button,
#false-button {
    display: none;
    width: 10rem;
    height: 5rem;
}

/* show for practice page */
#listen-button {
    display: block;
}

#scoreBox {
    margin-top: 10px;
    padding-left: .5em;
    padding-right: .5em;
    font-size: 160%;
}

#scoreBox p {
    margin: 0;
    
}

#start-game {
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 20px;
    font-size: 120%;
}
#start-game p {
    padding-left: 4px;
    padding-right: 4px;
    margin: 0;
}

#start-game:hover {
    background-image: linear-gradient(yellow, orange, red);
}
/* footer styles */

footer {
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    height: 3rem;
    width: 100%;
}

#myBtn {
    text-decoration: underline;
    cursor: pointer;
}

#myBtn:hover {
    background-color: orange;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }