.text-center {
    text-align: center;
}

.card-piles,
.answer-boxes {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-around;
}
.box {
    border: 1px solid black;
    padding: 4px;
}

.card-pile-left {
    background-color: aquamarine;
}

.card-pile-right {
    background-color: aqua;
}
